<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
   <% include partials/template/jsdefaults.ejs %>
  <body class="test">

  <div class="templatemo_container">
   <% include partials/template/header.ejs %>
    <% include partials/template/image_fader.ejs %>
     <% include partials/template/content.ejs %>
  </div>

    <% include partials/template/footer.ejs %>
  </body>
</html>
