<div id="templatemo_header">
        	<div id="templatemo_logo_area">
            	<div id="templatemo_logo">
                	<a href="http://www.templatemo.com" target="_blank">Orange Bar</a></div>
              <div id="templatemo_slogan">
                	Free CSS Template
              </div>
                <div class="cleaner"></div>
            </div>
            
            <div id="templatemo_search">
				<form action="#" method="post">
					<input type="text" value="Type your keyword" name="q" class="field"  title="email" onfocus="clearText(this)" onblur="clearText(this)" />
					<input type="submit" name="search" value = "Search" alt="Search" class="button" title="Subscribe" />
			</form>
			</div>
        
            <div id="templatemo_menu">
				<ul>
                    <li><a href="#">Home</a></li>
                    <li class="current"><a href="#">Gallery</a></li>
                    <li><a href="#">Archives</a></li>
                    <li><a href="#">Wallpapers</a></li>                        
					<li><a href="#">Downloads</a></li>
					<li><a href="http://www.templatemo.com" target="_parent">Templates</a></li>	
                	<li><a href="#">Contact</a></li>	  
            	</ul>
			</div>
            
</div><!-- end of header -->