<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Orange Bar, CSS Template, Free Download</title>
<meta name="keywords" content="free css template, orange bar, XHTML, CSS" />
<meta name="description" content="Orange Bar is a free CSS template from templatemo.com" />
<link href="/stylesheets/templatemo_style.css" rel="stylesheet" type="text/css" />