<div id="templatemo_image_fader">
        	 <script type="text/javascript">
//new fadeshow(IMAGES_ARRAY_NAME, slideshow_width, slideshow_height, borderwidth, delay, pause (0=no, 1=yes), optionalRandomOrder)
new fadeshow(fadeimages, 960, 240, 1, 2000, 1, "R")

			</script>
        </div>